.project {
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.project > h3 {
  font-size: 2rem;
  color: white;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.projectbox {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(25, 25, 25);
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  height: 18rem;
}

.projectbox a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.projectbox img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.projectbox p {
  text-align: center;
  margin: 10px 0;
}

.projectbox:hover {
  transform: scale(1.04); /* Changed scale to transform */
  z-index: 1;
}

.btns {
 padding-left: 4px;
 padding-right: 4px;
 margin-bottom: 4px;
  bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #518ff3;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3b82f6;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .project {
      min-height: calc(100vh - 5rem);
      height: auto;
  }

  .container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
