.skills{
    
    width: 100%;
    min-height: calc(100vh - 5rem);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.boxcontent{
    width: 80%;
    height: auto;
}
.heading>span{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.heading{
    display: block;
}
.mainbox{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}
.frontend{
    width: 60%;
    min-height: 200px;
    height: auto;
    background-color:rgb(25, 25, 25);
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.frontend>h4{
    text-align: center;
    margin: 10px;
    display: block;
}
.box{
    min-width: 80px;
    margin: 20px 20px 0 20px;
}
@media screen and (max-width:600px){
    .skills{
        height: auto;
        margin-top: 100px;
        min-height: 500px;
        justify-content: flex-start;
    }
    .mainbox{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .frontend{
        column-gap: 30px;
      align-items: center;
       height: auto;
       width: 100%;
    }
   
}
