.skills {
    width: 100%;
    min-height:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }
  
  .boxcontent {
    width: 80%;
  }
  
  .heading h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .mainbox {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .frontend {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    justify-content: space-around;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .box:hover {
    transform: translateY(-10px);
    background-color:rgba(250, 254, 254, 0.1);
  }
  
  .box p {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
  }
  
  .box svg {
    font-size: 3rem;
    color: aqua;
  }
  
  @media screen and (max-width: 600px) {
    .skills {
      justify-content: flex-start;
    }
  
    .mainbox {
      flex-direction: column;
    }
  
    .box {
      min-width: 100px;
      min-height: 100px;
    }
  }
  