section{
    width: 100%;
    height: auto;
    min-height:calc(100vh - 5rem);
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content>span{
    font-size: 2rem;
    text-align: center;
}
.content>p{
    font-size: 1.5rem;
    margin-top: 100px;
   
}
@media  screen and (max-width:600px) {
    section{
        min-height:calc(100vh - 5rem);
        height: auto;
    }
    .content>p{
        font-size: 1.3rem;
    }
    
}