nav{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; background-color:rgb(25, 25, 25);
   
    position: sticky;
    top: 0;
}
.options{
    width: 50%;
    display: flex;
    justify-content: space-around;

}
.opt{
    cursor: pointer;
    padding: 2PX;
    margin-right: 5px;
}
.opt:hover{
    color: aqua;
    padding-bottom: 2px;
    border-bottom: 1px solid aqua;
}